
:root{
  --primary-white:#fff;
  --primary-blue: #00a2ff;
  --primary-dark: rgba(24, 19, 19, 0);
  --primary-black: rgba(10, 10, 10, 0.829);
}

/* html{
  scroll-behavior: smooth;
} */
body{
  font-family: 'Roboto Condensed', sans-serif;
}

/*************************NAVBAR*******************************/
.logo{
  width: 2.25rem;
}

.nav{
  z-index: 2;
}

.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

Nav ul li a{
  text-transform: uppercase !important;
}

.navbar-toggler-icon{
  color: #fff !important;
}
.navbar-nav > li > a{
  margin-right: 3.95rem;
  margin-left: 3.95rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 4.25rem;
  padding: 0.9rem !important;
  color: var(--primary-white) !important;
  font-weight: bold;
  letter-spacing: 0.5rem;
  font-size: 1.2rem !important;
  margin-left: 5rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-blue);
}

/*************************HEADER*******************************/

.header-wrapper{
  position: relative;
  background-image: url("backgrnd.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.main-info{
display: flex;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.main-info h1{
  color: var(--primary-white);
}


/*************************OFFER BUTTON*******************************/

.offer-button{
  margin-top: 50px;
  color: var(--primary-white);
  background-color: var(--primary-black);
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 6px;
  padding: 8px 16px;
  text-decoration: none;
  z-index: 1;
}

.offer-button:hover{
  text-decoration: none;
  background-color:#00a2ff;
  color: black;
}

/*************************TYPED SCRIPT*******************************/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.typed-text{
  color: var(--primary-white);
  font-size: 1.4rem;
  
}

/*************************ABOUT ME*******************************/
.about-wrapper{
  position: relative;
  height: 63vh;
  width: 98vw;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}

.description{
  position: relative;
   display: block;
   width: max-content;
   height: max-content;
   margin-left: auto !important;
   margin-right: auto !important;
}

.card-bod{
  margin-top: 5.5rem !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 60vw;
}
.card1{
  position: relative;
  width: 20rem;
  height: 18rem;
  border:none !important;
  align-items: flex-end;
  justify-content: flex-end;
}

.card1 img{
  display: block;
  margin-top: 2rem;
  width: 53%;
  height: 60%;
  border-radius: 50% !important;
  margin-right: 0;
  margin-left: 80%;
}

.card2{
  position: relative;
  border:none !important;
}

.card-title {
  font-size: 2.8rem !important;
  color: #00a2ff;
  text-align: start;
  font-weight: lighter !important;
}

.details{
  margin-top: 1.5rem !important;
  font-size: 1.1rem !important;
  justify-content: space-between !important;
  margin-bottom: 2.0rem !important;
  text-align: start;
  line-height: 2.0rem !important;
}

.picture{
  position: relative;
}

/*************************MY SKILLS*******************************/

.myskill-card{
  position: relative;
  padding-top: 5rem;
  height: 55vh;
  width: 98.7vw;
  background-color: rgb(236, 235, 235);
}

.myskill-card h3{
  text-align: center;
  padding-bottom: 1.2rem;
  font-size: 2.5rem;
}

.sub-card{
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.5rem;
}

.positions{
   display: block;
   height: max-content;
   width: 77%;
   margin-left: auto ;
   margin-right: auto ; 
}

.card-subtitle {
  font-size: 1.3rem !important;
  text-align: center;
}

.centerP{
  text-align: center;
  margin-bottom: 1.5rem !important;
}


/*************************PORTFOLIO*******************************/

.portfolio-card{
  position: relative;
  padding-top: 2rem;
  height: 80vh;
  width: 98.7vw;
  background-image: linear-gradient(45deg, #fff, rgba(31, 6, 6, 0.356));
}

.portfolio-card h3{
  text-align: center;
  padding-top: 4.4rem !important;
  padding-bottom: 4.7rem !important;
  font-size: 2.3rem;
  color: #00a2ff;
}

.logo-color{
  color: #00a2ff !important;
}

.portfo-card{
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.1rem;
}

.portfolio-posit{
  display: block;
  height: max-content;
  width: 82%;
  margin-left: auto ;
  margin-right: auto ; 
}

.m-title{
  display: block;
  position: relative !important;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 10rem !important;
  font-size: 2rem;
  color: #ffffff;
}

.sub-title{
  color: orange;
}

/*************************CONTACT FORM*******************************/
.c-form{
  position: relative;
  height: 98vh;
  width: 98.7vw;
  background-color: rgba(2, 1, 1, 0.89);
}

.form-line{
  margin-top: 1rem ;
  background-color: #060708fa !important;
  border: none !important;
  border-radius: 5px;
}

.form h1{
  text-align: center;
  font-size: 2rem;
  padding-top: 6rem !important;
  color: #fff;
}

.submit-btn{
  display: block;
  margin-top: 2rem ;
  margin-left: auto ;
  margin-right: auto;
  width: 9rem ;
  height: 3rem;
  font-weight: bold;
  border: none;
  background-color:  #00a2ff;
  border-radius: 5px;
  padding: 10px 0;
}

input{
  width: 25rem;
  background-color: #060708fa;
  color: #fff;
  height: 2rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 0.2rem solid grey;
  border-radius: 5px;
}

textarea{
  resize: none;
  height: 4rem;
  color: #fff;
  border-bottom: 0.3rem solid grey;
}

.form-display{
    width: 25rem;
    display: grid;
    padding-top: 2rem ;
}

.form-body{
  position: relative;
  display: block;
  width: 25rem;
  margin-right: auto !important;
  margin-left: auto !important;
}
/*************************FOOTER*******************************/

.footer-com{
position: relative;
width: 98.7vw;
height: 20rem;
color: #fff;
background-color: #060708fa;
}

.conten{
padding-top: 1.6rem;
}

.conten p{
 font-size: 1.0rem;
}

.holder{
  position: relative;
  display: block;
  padding-left: 0;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
}

.content-position{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
}

.associates{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 40rem;
  justify-content: space-between;
  padding-top: 2rem;
  align-self: center;
  padding-left: 0;
}

.associates a{
  font-size: 1.1rem; 
  text-decoration: none;
  color: #fff;
  /* border-right: 2px solid #fff; */
}

.separator{
  padding-left: 2.3rem;
}

/* #contact{
  border-right: none;
} */

.copyright{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;

}

.content-position p{
 text-align: center;
 padding-top: 4rem;
}

.logos{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 22rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 0rem;
  font-size: 2.3rem;
  align-self: center;
}

.logos i{
  color: #00a2ff !important;
}

ul{
  list-style: none;
}

.conten i{
  font-size: 2rem;
  color:  #00a2ff;
 }

.error-message{
  color: red !important;
  font-size: 0.8rem !important;
}

/*************************RESPONSIVENESS 768*******************************/

@media only screen and (max-width:768px){

        /*********************ABOUT ME***************************/
  .about-wrapper{
    position: relative;
    height: max-content;
    width: 99.5vw;
  }

  .description{
    position: relative;
     display: block;
     height: max-content;

  }

  .card-bod{
    margin-top: 5.5rem !important;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 97vw !important;
    padding-bottom: 3rem;
  }

  .card1{
    display: block;
    position: relative;
    height: 18rem;
    width: 20rem;
    border:none !important;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card1 img{
    display: block;
    margin-top: 2rem;
    width: 53%;
    height: 60%;
    border-radius: 50% !important;
    margin-right: auto;
    margin-left: auto;
  }
  
  .card2{
    margin-top: 2rem;
    display: block;
    position: relative;
    margin-right: auto !important;
    margin-left: auto !important;
    border:none !important;
    width: 25rem;
  }

  .card-title {
    font-size: 2.8rem !important;
    color: #00a2ff;
    text-align: center !important;
    font-weight: bold !important;
  }
  
  .details{
    margin-top: 1.5rem !important;
    font-size: 1.1rem !important;
    justify-content: space-between !important;
    margin-bottom: 2.0rem !important;
    text-align: center !important;
    line-height: 2.0rem !important;
  }

   /*********************MY SKILL***************************/

   .myskill-card{
    position: relative;
    padding-top: 2rem;
    height: max-content;
    width: 99.5vw;
    background-color: rgb(236, 235, 235);
  }

   .sub-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2.1rem;
  }

  .positions{
    display: block;
    height: max-content;
    width: 40rem;
    margin-left: auto ;
    margin-right: auto ; 
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
 }

 /*********************MY PORTFOLIO***************************/

 .portfolio-card{
  position: relative;
  padding-top: 2rem;
  height: max-content;
  width: 99.5vw;
  background-image: linear-gradient(45deg, #fff, rgba(31, 6, 6, 0.356));
}

.portfo-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2.1rem;
}

.portfolio-posit{
  display: block;
  height: max-content;
  width: 45rem;
  margin-left: auto ;
  margin-right: auto ; 
}

/*********************FORM FIELD***************************/
.c-form{
  position: relative;
  height: 80vh;
  width: 99.5vw;
  background-color: rgba(2, 1, 1, 0.89);
}

/*********************FOOTER***************************/
.footer-com{
  width: 99.5vw;
  height: 25rem;
}

.associates{
width: 38rem;
flex-wrap: nowrap;
justify-content: center;
}

.associates a{
  padding-left: 1rem;
  margin-left: 0px;
}

.separator{
  padding-left: 1.4rem;
}
}

/*************************RESPONSIVENESS 540*******************************/

@media only screen and (max-width:540px){

  /*********************ABOUT ME***************************/
  .about-wrapper{
    width: 99.5vw;
  }
  .portfolio-posit{
    width: 40rem;
  }

  /*********************MY SKILLS***************************/
  .myskill-card{
    width: 99.5vw;
  }

   /*********************MY PORTFOLIO***************************/
   .portfolio-card{
    width: 99.5vw;
   }

  .c-form{
    height: 95vh;
    width: 99.5vw;
  }

   /*********************Footer***************************/
   .footer-com{
    width: 99.5vw;
  }
  
  .conten p{
    font-size: 1rem;
   }

   .conten i{
    font-size: 2rem;
    color:  #00a2ff;
   }
  
   .holder{
    width: 95vw;
  }
  
  .associates a{
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  
  .associates{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    width: 36rem;
  }
  
  .logos{
    flex-wrap: nowrap !important;
    width: 20.2rem !important;
    padding-bottom: 1rem !important;
    font-size: 2.2rem !important;
  }
  
  .copyright{
    padding-top: 1rem;
  }
  
  .separator{
    padding-left: 1.2rem;
  }
}

/*************************RESPONSIVENESS 414*******************************/

@media only screen and (max-width:414px){

   /*********************My skill***************************/
   .sub-card{
     flex-direction: column;
     justify-content: space-around;
   }

   .positions{
    width: 17rem !important;
    height: 67rem !important;
  }

   /*********************My Portfolio***************************/
   .portfo-card{
    flex-direction: column !important;
   }

   .portfolio-posit{
     width: 20rem !important;
     height: 66rem !important;
   }

   /*********************Footer***************************/
   .footer-com{
    width: 99.5vw;
    height: 25rem;
  }
  
  .associates{
  width: 31rem;
  justify-content: center;
  padding-top: 0px;
  }
  
  .associates a{
    font-size: 0.8rem;
    flex-wrap: nowrap;
    width: 8rem;
  }

  .logos{
    flex-wrap: nowrap !important;
    width: 20.2rem !important;
    font-size: 2rem !important;
  }
}

/*************************RESPONSIVENESS 411*******************************/
@media only screen and (max-width:411px){

  input{
  font-size: 0.8rem;
  }
}

/*************************RESPONSIVENESS 393*******************************/
@media only screen and (max-width:394px){
  .c-form{
    height: 55rem;
  }

  .footer-com{
    position: relative;
  }
  .associates a{
    padding-bottom: 0.7rem;
  }

  .logos{
    font-size: 2.1rem;
    width: 8rem;
  }

  .form-line{
    margin-top: 1.5rem !important;
    background-color: #060708fa !important;
    border: none !important;
    border-bottom: 0.1rem solid grey !important;
  }

  .form-display{
    width: 17rem;
  }

  .form-line input{
    width: 17rem;
  }
  .form-body{
    width: 17rem;
  }

  .associates a{
    padding-bottom: 0.7rem;
  }

  .logos{
    font-size: 1.8rem;
    width: 8rem;
  }

  .associates{
  width: 28rem;
  }

  .separator{
    padding-left: 1.5rem;
  }
}


/*************************RESPONSIVENESS 375*******************************/
@media only screen and (max-width:375px){
  .c-form{
    height: 100vh;
  }

  .associates a{
    padding-bottom: 0.7rem;
  }

  .logos{
    font-size: 1.8rem;
    width: 8rem;
  }

  .associates{
  width: 30rem;
  }
}

/*************************RESPONSIVENESS 360*******************************/
@media only screen and (max-width:360px){
  .associates{
    width: 28rem;
    }

    .associates a{
      width: 8rem;
      }
}
/*************************RESPONSIVENESS 320*******************************/
@media only screen and (max-width:320px){
 /*********************ABOUT ME***************************/
 .about-wrapper{
  width: 99.5vw;
  height: 50rem;
}


/*********************MY SKILLS***************************/
.myskill-card{
  width: 99.9vw;
}

 /*********************MY PORTFOLIO***************************/
 .portfolio-card{
  width: 99.9vw;
 }

.c-form{
  height: 47rem;
  width: 99.9vw;
}

.form-control{
  width: 22rem !important;
  padding-left: 2.2rem !important;
}

.logos{
  font-size: 2.1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
}

.footer-com{
  width: 100vw;
  height: 22rem;
  margin-right: 0;
}

.form-display{
  width: 20rem;
}

.form-line input{
  width: 20rem;
}
.form-body{
  width: 20rem;
}

.associates{
  width: 26rem;
  }

}

@media only screen and (max-width:280px){
  .conten{
    width: 9rem;
    }

    .conten p{
      font-size: 0.8rem;
      }

      .associates a{
        font-size: 0.7rem; 
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }

      .associates{
        align-self: center;
        width: 20rem;
      }
      .copyright{
        width: 20rem;
      }

      .logos{
        font-size: 1.1rem;
        width: 2rem;
      }

      .form-display{
        width: 18rem;
      }

      .form-line input{
        width: 18rem;
      }
      .form-body{
        width: 18rem;
      }

      .about-wrapper{
        height: 54rem;
      }
}
